.root {
    position: relative;
    margin: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    transform-style: preserve-3d;
    transform: scale(1);
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #101111;
    cursor: pointer;
    color: white;
  }
  
  .root:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
  }
  
  .image {
    width:  100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
  }

  .p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: grey;
    text-align: left;
  }

  h3{
    text-align: left;
    margin-bottom: 0px;
  }