
#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: var(--text);
}

.movieCards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  gap: 30px;
  padding: 10px
}

.grid{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0.5rem;
}

.movieDetails{
  width: 100%;
  box-shadow:
  0px 0px gray,
  0em 0 1em gray;
  border-radius: 1rem;
}

.day-selector{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
}

.navbar-button{
  padding: 0;
  width: 10rem;
  font-size: 16px;
  color: var(--text); 
  background: rgba(255, 255, 255, 0.192);
  border: 0.1rem var(--text) solid;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-button:hover{
  background: rgba(76, 175, 80, 0.192);
  color: rgb(76, 175, 80); 
  border-color: rgb(76, 175, 80);
}

.navbar-button:first-child {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.navbar-button:last-child {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.selected{
  border: none;
  background-color: rgb(132, 203, 21);
  color: var(--text);
  font-weight: bold;
}

.selectedDay{  
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000; 
}

.selectedDay p{
  margin: auto;
  padding: 1rem 0;
  border-radius: 2rem;
  width: 10rem;
  background: rgb(76, 175, 80);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.weekSelector{
  color: var(--text);
  width: 18%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
}

.weekSelection{
  width: 100%;
}

.weekSelector button{
  color: var(--text);
  width: 10%;
  height: auto;
  background: none;
}

.grid-item1{
  width: 50%;
}

@media (max-width: 1644px) {
  .grid {
    flex-direction: column;
    align-items: flex-start;
  }
}