@media print {
	
	@page {
		margin: 2cm;
	 }
	
	html {
	
		background:white;
		}
	body  {
        font-size: 1em;
		width:100%;
		font-family:'Times New Roman', Times, serif; 
		background:white;
		min-width:initial;
		max-width:initial;
		box-shadow:initial;
	}

    h1{
        font-weight: bolder;
        font-size: 2.5em;
    }
    
    h2{
        font-size: 1.5em;
    }

    img{
        filter: grayscale(100);
    }

    .with-blur-backdrop{
        padding: 0em;
    }

	header {
        display:none
    }

    textarea{
        max-height: 15em;
    }
	
    footer{display: none;}

    video{display: none;}
}