.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    width: 30rem;
    border: 1px solid var(--text);
    background: var(--background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .closeButton {
    margin-top: 10px;
    padding: 8px 12px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  