.container{
  color: var(--text);
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  color: var(--text);
}

.left {
  display: flex;
  align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
}

.right {
  display: flex;
  gap: 1rem;
}

.button {
  color: var(--text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.loginContainer {
  width: 35rem;
  margin: 10rem auto 0 auto;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #444;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  width: 80%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  background: #ffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  font-size: 1.5rem;
}

.formbutton {
  background: #4caf50;
  width: 30%;
  color: #fff;
  border: none;
  padding: 0.7rem;
  margin: auto;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.formbutton:hover {
  background: #444;
}

.button:hover {
  color: #4caf50;
}

.toLeft{
  padding: 0;
  margin: 0;
  margin-left: -26rem;
}

.toLeft2{
  padding: 0;
  margin: 0;
  margin-left: -20rem;
}