body {
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
    background-color: #252525;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #ffc700;
}

.reg{
    display: block;
    margin: 0 0.5rem;
    padding:0.5rem;
    text-align: center;
    font-weight: bold;
    background-color: #ffcd00;
    color: #000;
    text-decoration: none;
    border-radius: 1rem;
}

.header{
    font-size: 3rem;
}

.container{
    max-width: 60%;
    padding: 1rem 0.5rem;
}

.input{
    padding: 1rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.err{
    color: red;
}

#success{
    font-size: 2rem;
    color: green;
}


#profilep{
    padding: 0;
    border: 1px solid black;
    border-radius: 4rem;
    width: 100%;
    text-decoration: none;
}

#profile{
    width: 10%;
}

#profilenav{
    display: flex;
    justify-content: flex-end;
}

.logout{
    display: block;
    margin: 0;
    margin-right: 0.5rem;
    padding:0.5rem;
    text-align: center;
    font-weight: bold;
    background-color: #ffcd00;
    color: #000;
    text-decoration: none;
    border-radius: 1rem;
}