#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.movieCards{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px
}

.grid{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 1rem;
}

.movieDetails{
  width: 50%;
  box-shadow:
  0px 0px gray,
  0em 0 1em gray;
  border-radius: 1rem;
}

.navbar{
  margin: auto;
  margin-bottom: 1rem;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4rem;
  padding: 0;
}

.navbar-button{
  padding: 0;
  width: 10rem;
  font-size: 16px;
  color: #fff; 
  background: rgba(255, 255, 255, 0.192);
  border: 0.1rem white solid;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-button:hover{
  background: rgba(76, 175, 80, 0.192);
  color: rgb(76, 175, 80); 
  border-color: rgb(76, 175, 80);
}

.navbar-button:first-child {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.navbar-button:last-child {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.selected{
  border: none;
  background-color: rgb(132, 203, 21);
  color: white;
  font-weight: bold;
}

.selectedDay{
  padding: 0.2rem 0;
  width: 10rem;
  font-size: 16px;
  color: #fff; 
  background: rgb(76, 175, 80);;
  border-radius: 2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}